* {
  box-sizing: border-box;
}

:root {
  font-family: 'Source Code Pro', 'SF Mono', 'Consolas', monospace;
}

body {
  margin: 0;
}


#scene {
  position: absolute;
  width: 100%;
  height: 100%;
}

#nametags {
  position: absolute;
  width: 100%;
  height: 100%;
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#connectui {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 60%);
  backdrop-filter: blur(10px);
  padding: 4rem;
  color: white;
}

#hud {
  position: absolute;
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 3rem;
  padding: 0.1rem 1.5rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.4);
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.4);
  background-color: rgba(0, 0, 0, 60%);
  backdrop-filter: blur(8px);
  color: white;
}

.hud-item {
  margin: 0;
  padding: 0;
  display: inline;
  flex: none;
}

.hud-divider {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 1px;
  height: 2rem;
  background-color: white;
  display: inline;
  flex: none;
}

.hud-space-sm {
  width: 1rem;
  display: inline;
  flex: none;
}

.hud-space-lg {
  width: 2rem;
  display: inline;
  flex: none;
}

.hud-nametag {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.hud-nametag-red {
  color: #FF0000;
  text-shadow: 0px -1px 10px #FF0000, 0px 0px 5px #FFFFFF;
}

.hud-nametag-blue {
  color: #0090FF;
  text-shadow: 0px -1px 10px #0090FF, 0px 0px 5px #000000;
}

.hud-gridevent {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px #000000;
}

.hud-gridevent-red-score {
  color: #FF0000;
  text-shadow: 0px -1px 10px #FF0000, 0px 0px 6px #FFFFFF;
}

.hud-gridevent-blue-score {
  color: #0090FF;
  text-shadow: 0px -1px 10px #0090FF, 0px 0px 6px #000000;
}

.hud-gridevent-annihilate {
  font-size: 1rem;
  font-weight: 400;
  color: #ff8000;
  text-shadow: 0px -1px 10px #ff0000, 0px 2px 5px #000000;
}